h1{color:green; background:black; align:center;}
font{color:purple; padding:50px;}
p.numberone{color:steelblue: background:black;}
p.numbertwo{color:orange; background:purple;}
p.other{color:red;}
